.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span[data-handle] {
  cursor: pointer;
}

#programm {
  td {
    font-size: 0.8em;
  }

}

#programm tr:hover {
  background: #DDDDDD;
}

.mirrorY {
  transform: scale(-1, 1);
}

.svgicon {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin: 0 0 0 0.2em;
}

fieldset label.text {
  width: 12em;
  display: inline-block;
}

fieldset label.text input {
  float: right;
  width: 10em;
}

/**
    табуляция
 */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;


  /* Style the buttons that are used to open the tab content */
  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 5px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  button.active {
    background-color: #ccc;
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active {
  display: block;
}


